<div class="popup js-popup">
    <div class="popup__wrapper js-popup-wrapper">
        <button class="popup__close-btn js-close-popup" type="button" area-label="Закрыть окно"></button>
        <p class="popup__text">{{ this }}</p>
    </div>
</div>
