* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wrapper {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-image: url('../images/form-bg.png');
    background-position: top center;
    background-size: cover;
}

.form {
    position: relative;
    padding: 20px;
    max-width: 600px;
    border: 10px solid #0d99d7;
    z-index: 1;
    background-color: rgba(61, 111, 158, 0.8);
}

.form__wrapper {
    margin-bottom: 30px;
    position: relative;
}

.form__wrapper--consent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form__label {
    display: block;
    margin-bottom: 8px;
}

.form__label--consent {
    margin: 0;
    padding-left: 5px;
    display: inline-block;
}

.form__field {
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #0d99d7;
}

.form__field--number {
    text-align: center;
}

.form__field--select {
    height: 32px;
}

.form__field-wrapper {
    position: relative;
}

.form__date-description {
    margin-top: 5px;
    font-size: 0.7rem;
}

.form__checkbox {
    position: relative;
    margin: 0;
    height: 20px;
    width: 20px;
    opacity: 0;
    z-index: 2;
}

.form__label--consent:before {
    position: absolute;
    content: '';
    left: 0;
    height: 19px;
    width: 19px;
    border: 1px solid #0d99d7;
    border-radius: 5px;
    background: #fff;
}

.form__checkbox:checked + .form__label--consent:after {
    position: absolute;
    left: 3px;
    bottom: 3px;
    height: 18px;
    width: 18px;
    font-size: 22px;
    content: '✓';
    color: #000;
}

.form__number-btn {
    position: absolute;
    top: 0;
    height: 100%;
    width: 30px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__number-btn--minus {
    left: 0;
    border-right: 1px solid #0d99d7;
}

.form__number-btn--plus {
    right: 0;
    border-left: 1px solid #0d99d7;
}

.form__error {
    position: absolute;
    left: 45px;
    bottom: -35px;
    padding: 8px 15px;
    display: block;
    font-size: 14px;
    color: #fff;
    z-index: 1;
    background-color: rgba(255, 0, 0, 0.5);
}

.form__error:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

.form__submit-btn {
    padding: 5px 20px;
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.popup__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow:  0 0 20px 2px #ccc;
    background-color: #fff;
}

.popup__close-btn {
    align-self: flex-end;
    position: relative;
    height: 23px;
    width: 23px;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.popup__close-btn:before,
.popup__close-btn:after {
   position: absolute;
   top: -3px;
   left: 10px;
   content: "";
   width: 2px;
   height: 30px;
   background-color: #000;
   display: block;
}

.popup__close-btn:before {
     transform: rotate(45deg);
 }

.popup__close-btn:after {
     transform: rotate(-45deg);
 }

.popup__text {
    margin-top: 40px;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}

.qs-datepicker-container {
    color: #fff;
    background-color: #3d6f9e;
    border: 2px solid #0d99d7;
}

.qs-datepicker .qs-controls {
    background-color: #3d6f9e;
}

.qs-datepicker .qs-square.qs-day {
    color: #fff;
}

.qs-datepicker .qs-arrow.qs-left:after {
    border-right-color: #fff;
}

.qs-datepicker .qs-arrow.qs-right:after {
    border-left-color: #fff;
}
