<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NevaTrip test project</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <form class="form js-form" action="address" method="post">
            <div class="form__wrapper">
                <label class="form__label" for="date">Выберите дату: <sup>*</sup></label>
                <input class="form__field form__field--input js-date-input" id="date" type="text" name="date" autocomplete="off">
                <div class="form__date-description">* Дату путешествия можно выбрать не познее следующего дня по местному времени места отправления.</div>
            </div>

            <div class="form__wrapper js-direction-wrapper">
                <label class="form__label" for="direction">Выберите направление:</label>
                <select class="form__field form__field--select js-choose-direction" name="direction" id="direction">
                    <option value="из A в B" data-direction="fromAtoB">из A в B</option>
                    <option value="из B в A" data-direction="fromBtoA">из B в A</option>
                    <option value="из A в B и обратно в А" data-direction="fromBtoA fromAtoB">из A в B и обратно в А</option>
                    <option value="из B в A и обратно в А" data-direction="fromAtoB fromBtoA">из B в A и обратно в B</option>
                </select>
            </div>

            <p>Время в пути в одну сторону 2 часа 5 минут.<br>
                Стоимость одного билета 700 рублей.<br>
                Стоимость составного билета в обе стороны 1200 рублей.</p>

            <div class="form__wrapper">
                <label class="form__label" for="count">Выберите количество билетов:</label>
                <div class="form__field-wrapper">
                    <button class="form__number-btn form__number-btn--minus js-minus-ticket-btn" type="button" aria-label="Уменьшить количество билетов на один" disabled>-</button>
                    <input id="count" class="form__field form__field--number js-number-of-tickets" type="text" value="0" name="countOfTickets">
                    <button class="form__number-btn form__number-btn--plus js-plus-ticket-btn" type="button" aria-label="Увеличить количество билетов на один">+</button>
                </div>
            </div>

            <div class="form__wrapper">
                <label class="form__label" for="name">Введите ваше имя и фамилию:</label>
                <input id="name" class="form__field form__field--input js-input" type="text" placeholder="Ольга Болотова" name="name">
            </div>

            <div class="form__wrapper">
                <label class="form__label" for="phone">Введите номер мобильного телефона:</label>
                <input id="phone" class="form__field form__field--input js-input" type="text" placeholder="+7 981 816 98 62" name="phone">
            </div>
            <div class="form__wrapper form__wrapper--consent">
                <input id="consent" class="form__checkbox js-input" type="checkbox" name="checkbox">
                <label for="consent" class="form__label form__label--consent">Вы согласны с пользовательским соглашением.</label>
            </div>

            <p>Итоговое количество билетов: <span class="js-count-of-ticket">0</span></p>
            <p>Итоговая сумма билетов: <span class="js-sum-of-ticket">0</span></p>

            <button class="form__submit-btn" type="submit">Купить</button>
        </form>
    </div>
</body>
</html>
